<template>
  <customTable :headers="headers" :info="info" />
</template>

<script>
import customTable from "~/components/customTable";
// import axios from "axios";
// import { mapActions } from "vuex";
export default {
  layout: "cinema",
  middleware: "auth",
  data() {
    return {
      info: {
        mode: "director",
        icon: "mdi-movie-open-edit-outline",
        name: "Directors"
      },
      headers: [
        {
          text: "Name",
          align: "start",
          value: "title"
        },
        {
          text: "rating",
          value: "rating",
          sortable: false,
          align: "start"
        },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  components: {
    customTable
  }
};
</script>
