<template>
  <customTable :headers="headers" :info="info" />
</template>

<script>
import customTable from "~/components/customTable";

export default {
  layout: "cinema",
  middleware: "auth",
  data() {
    return {
      info: {
        mode: "actor",
        icon: "mdi-account-multiple",
        name: "Actors"
      },
      headers: [
        {
          text: "Name",
          align: "start",
          value: "title"
        },
        {
          text: "rating",
          value: "rating",
          sortable: false,
          align: "start"
        },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  components: {
    customTable
  }
};
</script>
