<template>
  <customTable :headers="headers" :info="info" />
</template>

<script>
import customTable from "~/components/customTable";
// import axios from "axios";
// import { mapActions } from "vuex";
export default {
  layout: "cinema",
  middleware: "auth",
  data() {
    return {
      info: { mode: "drafts", icon: "mdi-drama-masks", name: "Drafts" },
      headers: [
        {
          text: "Title",
          align: "start",
          value: "title"
        },
        {
          text: "Published",
          value: "published",
          sortable: false,
          align: "start"
        },
        { text: "Genre", value: "genre", sortable: false },
        { text: "Length", value: "movieLength" },
        { text: "Actor/Actress", value: "actors" },
        { text: "Director", value: "director", sortable: false },
        // { text: "Schedule", value: "schedule", sortable: false },
        { text: "Rating", value: "rating", sortable: false },
        { text: "Actions", value: "actions", sortable: false }
      ]
    };
  },
  components: {
    customTable
  }
};
</script>