<template>
  <v-container fluid>
    <v-row class="justify-center">
      <v-col md="8" cols="12" class="mb-16">
        <v-card class="mx-auto mt-4 pb-6" style="width:100%">
          <v-sheet
            class="v-sheet--offset mx-auto pa-6 white--text"
            color="primary"
            elevation="12"
            max-width="calc(100% - 32px)"
          >
            <div class="display-1 font-weight-light">Edit Profile</div>
            <div class="subtitle-1 font-weight-light">complete your profile</div>
          </v-sheet>
          <v-form ref="form" class="px-6" v-model="valid">
            <v-text-field
              prepend-inner-icon="mdi-account"
              color="primary"
              placeholder="Name"
              v-model="name"
              :rules="[() => !!name || 'This field is required']"
            ></v-text-field>
            <!-- <v-text-field
              prepend-inner-icon="mdi-map-marker"
              color="primary"
              placeholder="Address"
              v-model="address"
              :rules="[() => !!address || 'This field is required']"
            ></v-text-field>-->
            <!-- <v-text-field
              prepend-inner-icon="mdi-email"
              color="primary"
              placeholder="Email"
              v-model="email"
              :rules="emailRules"
            ></v-text-field>-->

            <v-col cols="12" class="text-right">
              <v-btn color="primary" :disabled="!valid" @click="update">Update Profile</v-btn>
            </v-col>
          </v-form>
        </v-card>
      </v-col>
      <v-col md="4" cols="12">
        <v-card class="mx-auto mt-4 pb-6 text-center" style="width:100%">
          <v-avatar class="mt-n15" size="128">
            <v-img v-if="!user.image_path" style="border-radius:50%" src="../img/logo.png"></v-img>
            <v-img v-else-if="user.image_path" style="border-radius:50%" :src="user.image_path"></v-img>
          </v-avatar>
          <!-- <v-file-input type="file" accept="image/png, image/jpeg, image/bmp" @change="uploadFile" /> -->
          <div class="mt-2">
            <input
              style="display: none"
              ref="fileInput"
              type="file"
              accept="image/png, image/jpeg, image/bmp"
              placeholder="Pick Photo"
              @change="uploadFile"
            />

            <v-btn icon @click="$refs.fileInput.click()">
              <v-icon size="34">mdi-camera</v-icon>
            </v-btn>
            <v-btn depressed @click="upImage">upload</v-btn>
          </div>

          <v-card-text>
            <h4 class="grey--text mb-1 text-uppercase">{{ this.name }}</h4>
            <!-- <h3 class="black--text mb-3 font-weight-light">{{ this.address }}</h3> -->

            <p class="font-weight-light grey--text">
              Don't be scared of the truth because we need to restart the human
              foundation in truth
            </p>
            <v-container class="text-left">
              <!-- <div class="font-weight-bold">
                <v-icon class="mr-2">mdi-city</v-icon>
                {{this.$store.state.admin.userInfo.address}}
              </div>-->
              <div class="font-weight-bold">
                <v-icon class="mr-2">mdi-email</v-icon>
                {{ this.email }}
              </div>
            </v-container>
            <v-dialog v-model="eDialog" max-width="400px">
              <template v-slot:activator="{ on }">
                <v-btn text v-on="on">Change Email</v-btn>
              </template>
              <v-card>
                <v-card-title>Change Email</v-card-title>
                <v-card-text>
                  <v-text-field
                    :rules="emailRules"
                    type="email"
                    v-model="chEmail"
                    placeholder="Email"
                  ></v-text-field>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn text color="red" @click="eDialog = false">Cancel</v-btn>
                  <v-btn text @click="changeEmail">Change Email</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
            <v-dialog v-model="dialog" max-width="400px">
              <template v-slot:activator="{ on }">
                <v-btn text v-on="on">Change Password</v-btn>
              </template>
              <v-card>
                <v-card-title>Change Password</v-card-title>
                <v-card-text>
                  <v-text-field type="password" v-model="oldPass" placeholder="Old Password"></v-text-field>
                  <v-text-field type="password" v-model="newPass" placeholder="New Password"></v-text-field>
                  <v-text-field
                    type="password"
                    v-model="newCpass"
                    placeholder="Confirm New Password"
                  ></v-text-field>
                  <v-container v-if="!confirmPassword">
                    <v-alert dark dismissible v-model="error" type="error" v-text="error_message" />
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn text color="red" @click="dialog = false">Cancel</v-btn>
                  <v-btn text @click="changePassword">Change Password</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <div class="text-center">
      <v-snackbar :color="color" v-model="snackbar" :timeout="timeout">
        {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="snackbar = false">Close</v-btn>
        </template>
      </v-snackbar>
    </div>
  </v-container>
</template>

<script>
import updateUser from "~/queries/updateUser.gql";
import updatePassword from "~/queries/update_password.gql";
import changeEmail from "~/queries/changeEmail.gql";
import changePassword from "~/queries/change-password.gql";
import uploadProfile from "~/queries/uploadProfile.gql";
import saveImage from "~/queries/saveImage.gql";

import gql from "graphql-tag";

export default {
  layout: "user",
  middleware: "auth",
  data() {
    return {
      color: "",
      chEmail: "",
      snackbar: false,
      text: "",
      timeout: 2000,
      dialog: false,
      eDialog: false,
      oldPass: "",
      newPass: "",
      newCpass: "",
      name: "",
      // address: "",
      id: null,
      error: false,
      error_message: "password mis-match",
      valid: true,
      email: "",
      files: null,
      images: null,
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"]
    };
  },
  mounted() {
    this.setup();
  },
  methods: {
    async upImage() {
      try {
        if (this.files) {
          // this.images.forEach(async img => {
          let variables = { image: this.images };
          // console.log("img vars:", variables);

          const data = await this.$apollo.mutate({
            mutation: uploadProfile,
            variables
          });
          let imgD = data.data.uploadProfile.secure_urls;

          variables = {
            userId: this.id,
            image_path: imgD
          };
          let sure = await this.$apollo.mutate({
            mutation: saveImage,
            variables
          });

          // console.log(sure.data.update__user_by_pk.image_path);

          this.$store.commit(
            "common/set_pro_pic",
            sure.data.update__user_by_pk.image_path
          );
        }
      } catch (error) {
        console.log(error);
      }
    },
    uploadFile(event) {
      this.files = event.target.files[0];

      // this.files.forEach(file => {
      this.createBase64Image(this.files);
      // });
    },

    createBase64Image(fileObject) {
      const reader = new FileReader();
      reader.onload = e => {
        this.images = e.target.result;
      };
      reader.readAsDataURL(fileObject);
    },
    setup() {
      let data = this.$store.getters["common/userData"];

      this.id = data.userId;
      this.name = data.username;
      // this.address = data.address;
      this.email = data.email;
    },
    async update() {
      try {
        let variables = {
          userId: this.id,
          username: this.name
        };
        console.log(variables);

        let finD = await this.$apollo.mutate({
          mutation: updateUser,
          variables
        });
        console.log(finD);

        this.$store.commit("common/set_userData", finD.data.update__user_by_pk);
      } catch (error) {
        console.log(error);
      }
    },
    changeEmail() {
      try {
        let variables = {
          email: this.chEmail
        };
        let d = this.$apollo.mutate({
          mutation: changeEmail,
          variables
        });
        console.log("change email", d);
        this.text = "Email Sent! please check your new email.";
        this.color = "green";
        this.eDialog = false;
        this.snackbar = true;

        this.$router.replace("/");
        this.$$store.commit("common/logout");
      } catch (error) {
        this.text = "Error: please try again";
        this.color = "red";
        this.eDialog = false;
        this.snackbar = true;
      }
    },
    async changePassword() {
      try {
        // let data = this.$store.getters["cinema/getCinemaInfo"];
        let variables = {
          old_password: this.oldPass,
          new_password: this.newCpass
        };
        if (this.newPass === this.newCpass) {
          let upData = await this.$apollo.mutate({
            mutation: changePassword,
            variables
          });
        }
        this.text = "password changed successfully!";
        this.color = "green";
        this.snackbar = true;
        this.dialog = false;
      } catch (error) {
        this.text = "incorrect password try again!";
        this.color = "red";
        this.snackbar = true;
        console.log("failed k", error);
      }
      this.oldPass = "";
      this.newCpass = "";
      this.newPass = "";
    }
  },
  computed: {
    user() {
      return this.$store.getters["common/userData"];
    },
    confirmPassword() {
      if (this.newPass === this.newCpass) {
        return true;
      } else {
        this.error = true;
        return false;
      }
    }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
