<template>
  <singleItem :item="movie"></singleItem>
</template>

<script>
import singleItem from "@/components/singleItem";

export default {
  layout: "user",
  data() {
    return {
      // movie: {},
      // id: parseInt(this.$route.params.id)
    };
  },
  // beforeMount() {
  //   this.setup();
  // },
  // methods: {
  //   async setup() {
  //     console.log("setup start");
  //     this.movie = this.$store.getters["movies/getSearchedMovie"];
  //     // console.log("fresh data", this.fetched_data);
  //   }
  // }
  computed: {
    movie() {
      // let movies = this.$store.getters["movies/getMovies"];
      // // console.log(typeof this.id);
      // let returnedMovie = movies.find(el => el.id === this.id);
      // if (
      //   !returnedMovie ||
      //   returnedMovie === null ||
      //   returnedMovie === undefined
      // ) {
      //   returnedMovie = this.fetched_data;
      // }

      // return returnedMovie;
      // let ret = {};
      // this.$apollo
      //   .mutate({
      //     mutation: GET_SINGLE_MOVIE,
      //     variables: { id: this.id }
      //   })
      //   .then(res => {
      //     ret = res.data.movies[0];
      //   });
      // // console.log(singleMv);
      let sData = this.$store.getters["movies/getSearchedMovie"];
      console.log("here is the data in _id/index and sent");

      return sData;
    }
  }
};
</script>
