<template>
  <v-layout column>
    <v-flex xs12 sm8 md6>
      <v-row>
        <v-col cols="12" md="4">
          <v-card class="mt-4" max-width="400">
            <v-sheet
              class="v-sheet--offset mx-auto"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <!-- <v-sparkline
                :labels="labels"
                :value="value"
                color="white"
                line-width="2"
                padding="16"
              ></v-sparkline>-->
              <div
                class="py-4 text-center white--text font-weight-bold text-h3"
              >{{ this.$store.state.movies.movies.length }}</div>
            </v-sheet>

            <v-card-text class="pt-0">
              <div
                class="title font-weight-light mb-2"
              >Total: {{ this.$store.state.movies.movies.length }} Movies</div>
              <div
                class="subheading font-weight-light grey--text"
              >Movies In {{ new Date().getFullYear() }}</div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
              <span class="caption grey--text font-weight-light">shows only Movies</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mt-4" max-width="400">
            <v-sheet
              class="v-sheet--offset mx-auto"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <!-- <v-sparkline
                :labels="labels"
                :value="value"
                color="white"
                line-width="2"
                padding="16"
              ></v-sparkline>-->
              <div
                class="py-4 text-center white--text font-weight-bold text-h3"
              >{{ this.$store.getters["movies/getDraftCount"] }}</div>
            </v-sheet>

            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Total:
                {{ this.$store.getters["movies/getDraftCount"] }} Drafts(Coming
                Soon)
              </div>
              <div
                class="subheading font-weight-light grey--text"
              >Drafts In {{ new Date().getFullYear() }}</div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
              <span class="caption grey--text font-weight-light">shows only Drafts</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mt-4" max-width="400">
            <v-sheet
              class="v-sheet--offset mx-auto"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <!-- <v-sparkline
                :labels="labels"
                :value="value"
                color="white"
                line-width="2"
                padding="16"
              ></v-sparkline>-->
              <div
                class="py-4 text-center white--text font-weight-bold text-h3"
              >{{ this.$store.state.actodir.actors.length }}</div>
            </v-sheet>

            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Total:
                {{ this.$store.state.actodir.actors.length }} Actor/Actress
              </div>

              <div
                class="subheading font-weight-light grey--text"
              >Actor/Actress In {{ new Date().getFullYear() }}</div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
              <span class="caption grey--text font-weight-light">shows only Actor/Actress</span>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="mt-4" max-width="400">
            <v-sheet
              class="v-sheet--offset mx-auto"
              color="primary"
              elevation="12"
              max-width="calc(100% - 32px)"
            >
              <!-- <v-sparkline
                :labels="labels"
                :value="value"
                color="white"
                line-width="2"
                padding="16"
              ></v-sparkline>-->
              <div
                class="py-4 text-center white--text font-weight-bold text-h3"
              >{{ this.$store.state.actodir.directors.length }}</div>
            </v-sheet>

            <v-card-text class="pt-0">
              <div class="title font-weight-light mb-2">
                Total: {{ this.$store.state.actodir.directors.length }} Film
                Directors
              </div>

              <div
                class="subheading font-weight-light grey--text"
              >Directors In {{ new Date().getFullYear() }}</div>
              <v-divider class="my-2"></v-divider>
              <v-icon class="mr-2" small>mdi-alert-circle</v-icon>
              <span class="caption grey--text font-weight-light">shows only Directors</span>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
import gql from "graphql-tag";
import getCinemaMovies from "~/queries/get_cinema_movies.gql";
import getActors from "~/queries/get_actors.gql";
import getDirectors from "~/queries/get_directors.gql";

// const GET_CINEMA_MOVIES = gql`
//   ${getCinemaMovies}
// `;
// const GET_ACTORS = gql`
//   ${getActors}
// `;
// const GET_DIRECTORS = gql`
//   ${getDirectors}
// `;
export default {
  layout: "cinema",
  // middleware: "auth",

  mounted() {
    this.setup();
  },
  data() {
    return {
      value: [0, 2, 5, 9, 5, 10, 3, 5, 0, 0, 1, 8],
      labels: [
        "jan",
        "feb",
        "mar",
        "apr",
        "may",
        "jun",
        "jul",
        "aug",
        "sep",
        "oct",
        "nov",
        "dec"
      ]
    };
  },
  methods: {
    async setup() {
      console.log("starting setup ...");
      // console.log("login token in home", localStorage.getItem("token"));

      try {
        let cinemaId = this.$store.state.cinema.cinemaData.id;
        let variables = {
          cinemaId
        };
        let data = await this.$apollo.query({
          query: getCinemaMovies,
          variables
        });
        let actData = await this.$apollo.query({
          query: getActors
        });
        let dirData = await this.$apollo.query({
          query: getDirectors
        });
        console.log(actData);

        this.$store.dispatch("movies/setMovies", data.data.movies);
        this.$store.dispatch("actodir/setActors", actData.data.actors);
        this.$store.dispatch("actodir/setDirectors", dirData.data.directors);
      } catch (err) {
        // location.reload();
        console.log(err);
      }
    }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
