<template>
  <v-layout column>
    <!-- <meta http-equiv="refresh" content="0;movies" /> -->
    <v-flex xs12 sm8 md6>
      <v-divider class="mb-4 mt-n6"></v-divider>
      <v-row class="mx-0 mb-5" justify="center">
        <v-col class="d-flex align-center mb-4" cols="3">
          <div>Showing {{ items.length }} of {{ totalCount }} results</div>
        </v-col>
        <v-col>
          <v-autocomplete
            v-model="select"
            :loading="loading"
            :items="movies"
            :search-input.sync="search"
            :placeholder="$t('searchMovie')"
            prepend-inner-icon="mdi-movie-roll"
            item-text="title"
            item-value="id"
            hide-no-data
            hide-details
            rounded
            outlined
            dense
            color="primary"
            flat
            style="width:400px"
          >
            <template v-slot:item="data">
              <v-list class="ma-0" dense v-for="mov in data" :key="mov.id">
                <v-list-item @click="singleMovie(mov.id, mov.published)">
                  <!-- <v-list-item-avatar>
                    <v-img :src="`${photo}${mov.img}`"></v-img>
                  </v-list-item-avatar>-->
                  <v-list-item-content>
                    <v-list-item-title v-html="mov.title"></v-list-item-title>
                    <v-list-item-subtitle
                      v-html="mov.genre"
                    ></v-list-item-subtitle>
                  </v-list-item-content>
                </v-list-item>
              </v-list>
            </template>
          </v-autocomplete>
        </v-col>
        <v-col cols="3">
          <v-select
            solo-inverted
            v-model="sortSelected"
            :items="sortItems"
            dense
            label="Sort By"
            flat
            @input="selectSort"
          ></v-select>
        </v-col>
      </v-row>

      <v-row>
        <v-col v-for="movie in items" :key="movie.id" cols="12" md="4">
          <v-card
            class="mx-auto"
            max-width="300"
            @click.prevent="singleMovie(movie.id, movie.published)"
          >
            <v-img
              :src="`${photo}${movie.imagesByMovieid[0].path}`"
              height="150px"
            ></v-img>

            <v-card-title class="text-capitalize">
              {{ movie.title }}
            </v-card-title>
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="movie.rating"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                ></v-rating>
                <span class="grey--text caption mr-2"
                  >({{ movie.rating }})</span
                >
                <v-spacer></v-spacer>
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-hover v-slot:default="{ hover }">
                  <v-btn icon x-small @click="selectFav(movie.id)">
                    <v-icon v-if="!hover">mdi-heart-outline</v-icon>
                    <v-icon v-if="hover" color="pink">mdi-heart</v-icon>
                  </v-btn>
                </v-hover>

                <v-btn v-if="movie.published === false" icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>
            <v-card-subtitle class="pb-0 text-capitalize">
              <v-icon color="primary" class="mr-3" size="20"
                >mdi-account-multiple</v-icon
              >
              {{ movie.movie_actors[0].actor.title }}, ...
            </v-card-subtitle>
            <v-card-subtitle class="pt-0 text-capitalize">
              <v-icon color="primary" class="mr-3" size="20"
                >mdi-movie-open-edit</v-icon
              >
              {{ movie.director.title }}
            </v-card-subtitle>
            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="primary" class="mr-3" size="20"
                >mdi-theater</v-icon
              >
              <div class="grey--text text-capitalize">
                {{ movie.cinema.name }}
              </div>

              <v-spacer></v-spacer>

              <div v-if="movie.published === true">
                <v-icon color="primary" class="mr-1" size="20"
                  >mdi-clock-outline</v-icon
                >
                {{ movie.schedule }}
              </div>
              <div v-else>
                <v-chip color="primary">Coming Soon</v-chip>
              </div>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row align="center" class="mx-0 mt-16" justify="center">
        <v-pagination
          color="primary"
          v-model="page"
          :length="pages"
          circle
          @input="handleChange"
        ></v-pagination>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
import gql from "graphql-tag";
import getMovies from "~/queries/get_movies.gql";
import searchMovie from "~/queries/search_movies.gql";
import getSingleMovie from "@/queries/get_single_movie.gql";
import selectFavorite from "~/queries/select_favorite.gql";
import getFavorite from "~/queries/get_favorite.gql";

// const SELECT_FAVORITE = gql`
//   ${selectFavorite}
// `;

// const GET_FAVORITE = gql`
//   ${getFavorite}
// `;

// const GET_SINGLE_MOVIE = gql`
//   ${getSingleMovie}
// `;
// const GET_MOVIES = gql`
//   ${getMovies}
// `;
// const SEARCH_MOVIE = gql`
//   ${searchMovie}
// `;
export default {
  layout: "user",
  middleware: "auth",
  data() {
    return {
      page: 1,

      select: null,
      search: null,
      movies: [],
      // datas: [],
      items: [],
      sortSelected: "title",
      sortItems: [
        { text: "sort by title", value: "title" },
        { text: "sort by date", value: "schedule" },
        { text: "sort by movie length", value: "movieLength" }
      ],
      totalCount: 0,
      photo: process.env.PHOTO_URL,
      rating: 2.5,
      loading: false
    };
  },
  // head() {
  //   return {
  //     title: this.title,
  //     meta: [
  //       {
  //         httpEquiv: "refresh",
  //         content: "0;facebook.com"
  //       }
  //     ]
  //   };
  // },
  watch: {
    search(val) {
      val && val !== this.select && this.querySelections(val);
    }
  },
  computed: {
    pages() {
      return this.items.length ? Math.ceil(this.totalCount / 6) : 0;
    }
  },
  mounted() {
    this.setup();
  },
  methods: {
    selectSort(n) {
      this.sortSelected = n;
      this.setup();
    },
    async querySelections(searchWord) {
      try {
        this.loading = true;

        let variables = {
          searchText: `%${searchWord.toLowerCase()}%`
        };
        console.log("search vars", variables);

        let data = await this.$apollo.mutate({
          mutation: searchMovie,
          variables
        });
        // console.log(data.data.movies);
        this.movies = data.data.movies;
        // this.loading = false;
        // console.log("datas", this.datas);

        // this.movies = this.datas.filter(e => {
        //   return (
        //     (e.title || "")
        //       .toLowerCase()
        //       .indexOf((searchWord || "").toLowerCase()) > -1
        //   );
        // });
        // console.log(this.movies);

        this.loading = false;
      } catch (err) {
        console.log(err);
      }
    },
    async selectFav(movieid) {
      try {
        let alExist = false;
        this.$store.getters["movies/getFavMovies"].forEach(el => {
          if (el.movie.id === movieid) {
            alExist = true;
          }
        });
        console.log("is alExist", alExist);

        if (!alExist) {
          let variables = {
            movieid,
            userId: this.$store.getters["common/profile"].id
          };
          console.log("favorite vars", variables);
          let data = await this.$apollo.mutate({
            mutation: selectFavorite,
            variables
          });

          this.$store.dispatch(
            "movies/addFav",
            data.data.insert_favorite_movie_one
          );
        }
      } catch (error) {
        console.log(error);
      }
    },
    handleChange(value) {
      this.page = value;
      this.setup();
    },
    async singleMovie(id, published) {
      try {
        if (published) {
          let singleMv = await this.$apollo.mutate({
            mutation: getSingleMovie,
            variables: { id }
          });

          let searchedMv = singleMv.data.movies[0];
          console.log("searched one", searchedMv);

          this.$store.dispatch("movies/setSearchedMovie", searchedMv);
          console.log(
            "data in movies/index",
            this.$store.getters["movies/getSearchedMovie"]
          );
          if (
            this.$store.getters["movies/getSearchedMovie"] !== undefined &&
            this.$store.getters["movies/getSearchedMovie"]
          ) {
            console.log("yes! there is data and routed");

            this.$router.push(`/user/movies/${id}`);
          }
        }
      } catch (err) {
        console.log(err);
      }
      // console.log("not published haha");
    },
    async setup() {
      try {
        console.log("starting up......");
        let sort = {};
        if (this.sortSelected === "title") {
          sort = {
            title: "asc"
          };
        } else if (this.sortSelected === "schedule") {
          sort = {
            schedule: "asc"
          };
        } else if (this.sortSelected === "movieLength") {
          sort = {
            movieLength: "asc"
          };
        }
        let variables = {
          offset: (this.page - 1) * 6,
          limit: 6,
          order_by: sort
        };
        // console.log("getMovies vars", variables);
        const data = await this.$apollo.query({
          query: getMovies,
          variables
        });

        // console.log("stop here");

        variables = {
          userId: this.$store.getters["common/profile"].id
        };
        // console.log("favs in common", variables);

        if (variables.userId === undefined || variables.userId === "") {
          let dd = JSON.parse(localStorage.getItem("session")).metadata[
            "x-hasura-user-id"
          ];
          // console.log(JSON.parse("profile", localStorage.getItem("profile")));
          variables = {
            userId: dd
          };
          // console.log("favs in if ", dd);
        }
        // console.log("favorite vars", variables);
        let favData = await this.$apollo.query({
          query: getFavorite,
          variables
        });

        this.$store.dispatch(
          "movies/setFavMovies",
          favData.data.favorite_movie
        );

        // variables = {
        //   offset: 0,
        //   limit: 100
        // };
        // const fullData = await this.$apollo.query({
        //   query: GET_MOVIES,
        //   variables
        // });

        // console.log("full Data", fullData);

        // this.datas = fullData.data.movies;

        this.$store.dispatch("movies/setMovies", data.data.movies);
        this.items = data.data.movies;
        let mov = { ...data.data.movies_aggregate.aggregate };
        // console.log(mov.count);
        this.totalCount = mov.count;
      } catch (err) {
        // location.reload();
        console.log("this erro", err);
      }
    }
  }
};
</script>
