<template>
  <v-container fluid>
    <v-row class="justify-center">
      <v-col md="8" cols="12" class="mb-16">
        <v-card class="mx-auto mt-4 pb-6" style="width:100%">
          <v-sheet
            class="v-sheet--offset mx-auto pa-6 white--text"
            color="primary"
            elevation="12"
            max-width="calc(100% - 32px)"
          >
            <div class="display-1 font-weight-light">Edit Profile</div>
            <div class="subtitle-1 font-weight-light">
              complete your profile
            </div>
          </v-sheet>
          <v-form ref="form" class="px-6" v-model="valid">
            <v-text-field
              prepend-inner-icon="mdi-account"
              color="primary"
              placeholder="Name"
              v-model="name"
              :rules="[() => !!name || 'This field is required']"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-map-marker"
              color="primary"
              placeholder="Address"
              v-model="address"
              :rules="[() => !!address || 'This field is required']"
            ></v-text-field>
            <v-text-field
              prepend-inner-icon="mdi-email"
              color="primary"
              placeholder="Email"
              v-model="email"
              :rules="emailRules"
            ></v-text-field>

            <v-col cols="12" class="text-right">
              <v-btn color="primary" :disabled="!valid" @click="update"
                >Update Profile</v-btn
              >
            </v-col>
          </v-form>
        </v-card>
      </v-col>
      <v-col md="4" cols="12">
        <v-card class="mx-auto mt-4 pb-6 text-center" style="width:100%">
          <v-avatar class="mt-n15" size="128">
            <v-img style="border-radius:50%" src="../img/logo.png"></v-img>
          </v-avatar>
          <v-card-text>
            <h4 class="grey--text mb-1 text-uppercase">{{ this.name }}</h4>
            <h3 class="black--text mb-3 font-weight-light">
              {{ this.address }}
            </h3>

            <p class="font-weight-light grey--text">
              Don't be scared of the truth because we need to restart the human
              foundation in truth
            </p>
            <v-container class="text-left">
              <!-- <div class="font-weight-bold">
                <v-icon class="mr-2">mdi-city</v-icon>
                {{this.$store.state.admin.userInfo.address}}
              </div>-->
              <div class="font-weight-bold">
                <v-icon class="mr-2">mdi-email</v-icon>
                {{ this.email }}
              </div>
            </v-container>
            <v-dialog v-model="dialog" max-width="400px">
              <template v-slot:activator="{ on }">
                <v-btn text v-on="on">Change Password</v-btn>
              </template>
              <v-card>
                <v-card-title>Change Password</v-card-title>
                <v-card-text>
                  <v-text-field
                    type="password"
                    v-model="oldPass"
                    placeholder="Old Password"
                  ></v-text-field>
                  <v-text-field
                    type="password"
                    v-model="newPass"
                    placeholder="New Password"
                  ></v-text-field>
                  <v-text-field
                    type="password"
                    v-model="newCpass"
                    placeholder="Confirm New Password"
                  ></v-text-field>
                  <v-container v-if="!confirmPassword">
                    <v-alert
                      dark
                      dismissible
                      v-model="error"
                      type="error"
                      v-text="error_message"
                    />
                  </v-container>
                </v-card-text>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn text color="red" @click="dialog = false">Cancel</v-btn>
                  <v-btn text @click="changePassword">Change Password</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <div class="text-center">
      <v-snackbar :color="color" v-model="snackbar" :timeout="timeout">
        {{ text }}
        <template v-slot:action="{ attrs }">
          <v-btn color="white" text v-bind="attrs" @click="snackbar = false"
            >Close</v-btn
          >
        </template>
      </v-snackbar>
    </div>
  </v-container>
</template>

<script>
import updateCinema from "~/queries/update_cinema.gql";
import updatePassword from "~/queries/update_password.gql";

import gql from "graphql-tag";

// const UPDATE_CINEMA = gql`
//   ${updateCinema}
// `;
// const UPDATE_PASSWORD = gql`
//   ${updatePassword}
// `;
export default {
  layout: "cinema",
  middleware: "auth",
  data() {
    return {
      color: "",
      snackbar: false,
      text: "",
      timeout: 2000,
      dialog: false,
      oldPass: "",
      newPass: "",
      newCpass: "",
      name: "",
      address: "",
      cinemaId: null,
      error: false,
      error_message: "password mis-match",
      valid: true,
      email: "",
      email: "",
      emailRules: [v => /.+@.+\..+/.test(v) || "E-mail must be valid"]
    };
  },
  mounted() {
    this.setup();
  },
  methods: {
    setup() {
      let data = this.$store.getters["cinema/getCinemaInfo"];

      this.cinemaId = data.id;
      this.name = data.name;
      this.address = data.address;
      this.email = data.email;
    },
    async update() {
      let variables = {
        id: this.cinemaId,
        name: this.name,
        address: this.address,
        email: this.email
      };

      let finD = await this.$apollo.mutate({
        mutation: updateCinema,
        variables
      });
      console.log(finD);

      this.$store.dispatch(
        "cinema/updateCinema",
        finD.data.update_cinema_by_pk
      );
    },
    async changePassword() {
      try {
        let data = this.$store.getters["cinema/getCinemaInfo"];
        let variables = {
          id: data.id,
          currentPassword: this.oldPass,
          newPassword: this.newCpass
        };
        if (this.newPass === this.newCpass) {
          let upData = await this.$apollo.mutate({
            mutation: updatePassword,
            variables
          });
          console.log("wano wato", upData);

          localStorage.setItem("token", upData.data.passwordUpdate.token);
        }
        this.text = "password changed successfully!";
        this.color = "green";
        this.snackbar = true;
        this.dialog = false;
      } catch (error) {
        this.text = "incorrect password try again!";
        this.color = "red";
        this.snackbar = true;
        console.log("failed k", error);
      }
      this.oldPass = "";
      this.newCpass = "";
      this.newPass = "";
    }
  },
  computed: {
    confirmPassword() {
      if (this.newPass === this.newCpass) {
        return true;
      } else {
        this.error = true;
        return false;
      }
    }
  }
};
</script>

<style scoped>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>
