<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="items"
      mobile-breakpoint="800"
      class="elevation-0"
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title class="font-weight-bold">
            <v-icon color="primary" size="40" class="mr-2">{{
              info.icon
            }}</v-icon>
            {{ info.name }}
          </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <!-- this dialog is used for both create and update -->
          <v-dialog v-model="dialog" persistent max-width="700px">
            <template v-slot:activator="{ on }">
              <div v-if="info.mode !== 'drafts'" class="d-flex">
                <v-btn color="primary" dark class="ml-auto ma-3" v-on="on">
                  New
                  <v-icon small>mdi-plus-circle-outline</v-icon>
                </v-btn>
              </div>
            </template>
            <v-card>
              <v-card-title>
                <span v-if="editedItem.id">Edit {{ editedItem.title }}</span>
                <span v-else>Create</span>
              </v-card-title>
              <v-card-text>
                <v-row>
                  <v-col cols="12" sm="12">
                    <v-text-field
                      v-model="editedItem.title"
                      label="Name(Title)"
                      clearable
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'movies' || info.mode === 'drafts'"
                  >
                    <v-select
                      v-model="actorSelected"
                      :items="itemAct"
                      attach
                      item-text="title"
                      item-value="id"
                      chips
                      label="Actors"
                      multiple
                      return-object
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'movies' || info.mode === 'drafts'"
                  >
                    <v-select
                      v-model="directorSelected"
                      :items="itemDir"
                      item-text="title"
                      item-value="id"
                      return-object
                      attach
                      chips
                      label="Director"
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'movies' || info.mode === 'drafts'"
                  >
                    <v-select
                      v-model="editedItem.genre"
                      :items="itemsGenre"
                      label="Genre"
                      @input="selectGenre"
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'movies' || info.mode === 'drafts'"
                  >
                    <v-text-field
                      v-model="editedItem.movieLength"
                      label="Movie Length"
                      suffix="hrs"
                      clearable
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'movies' || info.mode === 'drafts'"
                  >
                    <v-select
                      v-model="editedItem.published"
                      :items="itemss"
                      label="published"
                      @input="selectPublished"
                    ></v-select>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    v-if="info.mode === 'movies' || info.mode === 'drafts'"
                  >
                    <v-menu
                      :disabled="editedItem.published === false"
                      ref="menu"
                      v-model="menu"
                      :close-on-content-click="false"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                      <template v-slot:activator="{ on, attrs }">
                        <v-text-field
                          readonly
                          v-model="editedItem.schedule"
                          label="Set Schedule"
                          prepend-icon="mdi-calendar"
                          v-bind="attrs"
                          v-on="on"
                        ></v-text-field>
                      </template>
                      <v-date-picker
                        ref="picker"
                        v-model="editedItem.schedule"
                        :min="new Date().toISOString().substr(0, 10)"
                        @change="save()"
                      ></v-date-picker>
                    </v-menu>
                  </v-col>
                </v-row>
              </v-card-text>
              <div v-if="!editedItem.id && info.mode === 'movies'">
                <v-container>
                  <v-form>
                    <v-file-input
                      type="file"
                      placeholder="movie image"
                      multiple
                      accept="image/png, image/jpeg, image/bmp, image/webp"
                      @change="uploadFile"
                    />
                  </v-form>
                </v-container>
              </div>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="showEditDialog()"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="saveItem(editedItem)"
                  >Save</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>

      <template v-slot:item.actions="{ item }">
        <div class="text-truncate">
          <v-icon
            small
            class="mr-2"
            @click="showEditDialog(item)"
            color="primary"
            >mdi-pencil</v-icon
          >
          <v-icon
            v-if="info.mode !== 'actor' && info.mode !== 'director'"
            small
            class="mr-2"
            @click="deleteItem(item)"
            color="pink"
            >mdi-delete</v-icon
          >
          <v-icon
            v-if="info.mode === 'movies' || info.mode === 'drafts'"
            small
            color="primary"
            @click="showPhotoDialog(item)"
            >mdi-image-edit</v-icon
          >
          <v-dialog
            :retain-focus="false"
            v-model="dialogPhoto"
            persistent
            max-width="500px"
          >
            <v-card>
              <v-card-title>
                <span>
                  <v-icon color="primary" class="mr-2">mdi-image-edit</v-icon>
                  Manage {{ editedItem.name }} Photos
                </span>
              </v-card-title>
              <v-container
                v-if="info.mode === 'movies' || info.mode === 'drafts'"
              >
                <!-- <v-row v-if="editedItem.imagesByMovieid">
                  <v-col cols="12" md="6">
                    <div>
                      <v-img :src="`${photo}${editedItem.photo}`"></v-img>
                    </div>
                    <div v-if="info.mode !== 'gallery'">
                      <v-icon
                        color="red"
                        @click="deletePhoto(editedItem, editedItem.photo)"
                      >mdi-minus-circle</v-icon>
                    </div>
                  </v-col>
                </v-row>-->
                <!-- <div v-if="!editedItem.imagesByMovieid">
                  <div>
                    <v-icon color="primary">mdi-image-plus</v-icon>Add Photos
                  </div>
                  <div class="mt-5">
                    
                    <v-file-input
                      type="file"
                      ref="edPhoto"
                      accept="image/png, image/jpeg, image/bmp"
                      @change="uploadFile"
                    />
                   
                  </div>
                </div>-->
                <div
                  v-if="
                    (info.mode === 'movies' || info.mode === 'drafts') &&
                      editedItem.imagesByMovieid
                  "
                >
                  <div class="my-3 text-h6">Images</div>
                  <v-row>
                    <v-col
                      v-for="pic in editedItem.imagesByMovieid"
                      :key="pic.id"
                      cols="12"
                      md="6"
                    >
                      <div>
                        <v-img :src="`${photo}${pic.path}`"></v-img>
                      </div>
                      <div>
                        <v-icon
                          color="red"
                          @click="deletePhoto(editedItem, pic)"
                          >mdi-minus-circle</v-icon
                        >
                      </div>
                    </v-col>
                  </v-row>
                  <div class="mt-5">
                    <v-file-input
                      type="file"
                      ref="edPhoto"
                      accept="image/png, image/jpeg, image/bmp"
                      multiple
                      @change="uploadFile"
                    />
                  </div>
                </div>
              </v-container>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" @click="showPhotoDialog()" text
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="addNewPic(editedItem)"
                  >Upload Photo</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </div>
      </template>
      <template v-slot:item.director="{ item }">
        <div class="text-truncate" style="width: 100px">
          {{ item.director.title }}
        </div>
      </template>
      <template v-slot:item.actors="{ item }">
        <!-- <div class="text-truncate" style="width: 150px"> -->
        <v-list-group class="grey" no-action sub-group>
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Actors</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-item v-for="(actor, i) in item.actors" :key="i" link>
            <v-list-item-icon>
              <v-icon color="primary">mdi-account</v-icon>
            </v-list-item-icon>
            <v-list-item-title v-text="actor.actor.title"></v-list-item-title>
          </v-list-item>
        </v-list-group>
        <!-- </div> -->
      </template>
      <template v-slot:item.schedule="{ item }">
        <div class="text-truncate">{{ item.schedule }}</div>
      </template>
      <template v-slot:item.published="{ item }">
        <div class="text-truncate">
          <v-icon v-if="item.published" color="green">mdi-check</v-icon>
          <v-icon v-else color="red">mdi-close</v-icon>
        </div>
      </template>
      <template v-slot:no-data>
        <div>
          No Data Availabe
          <v-icon>mdi-timer-sand</v-icon>Click New Button
        </div>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import setMovies from "~/queries/set_movie.gql";
import setActors from "~/queries/set_actors.gql";
import setDirector from "~/queries/set_director.gql";
import uploadImage from "~/queries/upload_images.gql";
import deleteMovies from "~/queries/delete_movies.gql";
import setMovieActor from "~/queries/set_movie_actor.gql";
import deleteMovieActors from "~/queries/delete_movie_actors.gql";
import updateMovie from "~/queries/update_movie.gql";
import updateActor from "~/queries/update_actor.gql";
import updateDirector from "~/queries/update_director.gql";
import deleteActor from "~/queries/delete_actor.gql";
import deleteDirector from "~/queries/delete_director.gql";
import deleteImage from "~/queries/delete_image.gql";

import gql from "graphql-tag";

// const SET_MOVIES = gql`
//   ${setMovies}
// `;
// const SET_ACTORS = gql`
//   ${setActors}
// `;
// const SET_DIRECTOR = gql`
//   ${setDirector}
// `;
// const UPLOAD_IMAGE = gql`
//   ${uploadImage}
// `;
// const DELETE_MOVIES = gql`
//   ${deleteMovies}
// `;
// const DELETE_IMAGE = gql`
//   ${deleteImage}
// `;
// const SET_MOVIE_ACTOR = gql`
//   ${setMovieActor}
// `;
// const DELETE_MOVIE_ACTORS = gql`
//   ${deleteMovieActors}
// `;
// const UPDATE_MOVIE = gql`
//   ${updateMovie}
// `;
// const UPDATE_ACTOR = gql`
//   ${updateActor}
// `;
// const UPDATE_DIRECTOR = gql`
//   ${updateDirector}
// `;
// const DELETE_ACTOR = gql`
//   ${deleteActor}
// `;
// const DELETE_DIRECTOR = gql`
//   ${deleteDirector}
// `;

export default {
  mounted() {
    this.setup();
  },
  data() {
    return {
      actorSelected: [],
      directorSelected: {},
      menu: false,
      dialog: false,
      dialogPhoto: false,
      editedItem: {},
      files: null,
      images: [],
      imagesData: [],
      filesSup: null,
      photo: process.env.PHOTO_URL,
      itemsGenre: [
        { text: "Action", value: "action" },
        { text: "Comedy", value: "comedy" },
        { text: "Adventure", value: "adventure" },
        { text: "Horror", value: "horror" }
      ],
      itemss: [
        { text: "yes", value: true },
        { text: "no", value: false }
      ],
      itemAct: [],
      itemDir: []
    };
  },
  props: {
    headers: {
      type: Array,
      required: true
    },
    info: {
      type: Object,
      required: true
    }
  },
  computed: {
    items() {
      if (this.info.mode === "movies") {
        return this.$store.getters["movies/getLoadedMovies"];
      } else if (this.info.mode === "drafts") {
        return this.$store.getters["movies/getDrafts"];
      } else if (this.info.mode === "actor") {
        return this.$store.getters["actodir/getActors"];
      } else if (this.info.mode === "director") {
        console.log("here dir");

        return this.$store.getters["actodir/getDirectors"];
      }
    }
  },

  watch: {
    menu(val) {
      val && setTimeout(() => (this.$refs.picker.activePicker = "YEAR"));
    }
  },
  methods: {
    setup() {
      try {
        let actors = this.$store.getters["actodir/getActors"];
        let directors = this.$store.getters["actodir/getDirectors"];
        let title = "";
        let id = "";
        this.itemAct = actors.map(act => {
          title = act.title;
          id = act.id;
          return { title, id };
        });
        this.itemDir = directors.map(dir => {
          title = dir.title;
          id = dir.id;
          return { title, id };
        });
      } catch (error) {
        console.log(error);
      }
    },
    // selectActs() {
    //   console.log("selected actors", this.actorSelected);
    // },
    // selectDirs()
    selectGenre(n) {
      this.editedItem.genre = n;
      console.log("genre selected :", this.editedItem.genre);
    },
    selectPublished(n) {
      this.editedItem.published = n;
      console.log("selected is :", this.editedItem.published);
    },
    save(date) {
      this.$refs.menu.save(date);
    },
    deleteSupPhoto(item, picName) {
      let data = {
        ...item
      };
      this.$store.dispatch("parish/deleteSuppPhoto", {
        data: data,
        picName: picName
      });
      this.dialogPhoto = false;
      this.editedItem = {};
    },
    showPhotoDialog(item) {
      this.editedItem = item || {};
      this.actors = [{ title: "" }];
      this.dialogPhoto = !this.dialogPhoto;
      // this.$refs.edPhoto.value = null;
    },
    uploadFile(event) {
      this.files = event;

      this.files.forEach(file => {
        this.createBase64Image(file);
      });
    },

    createBase64Image(fileObject) {
      const reader = new FileReader();
      reader.onload = e => {
        this.images.push(e.target.result);
      };
      reader.readAsDataURL(fileObject);
    },

    showEditDialog(item) {
      console.log("log item ", item);

      this.editedItem = { ...item } || {};
      this.dialog = !this.dialog;

      if (
        item &&
        (this.info.mode === "movies" || this.info.mode === "drafts")
      ) {
        this.actorSelected = item.actors.map(ac => ac.actor);
        this.directorSelected = item.director;
      }
    },
    async saveItem(item) {
      try {
        let data = {
          ...item
        };

        data.published = data.published === true;
        let cinemaId = this.$store.state.cinema.cinemaData.id;

        if (this.info.mode === "movies" || this.info.mode === "drafts") {
          // console.log("data", data);
          let variables = {};

          if (data.id) {
            let checkData = {};
            console.log("mode:", this.info.mode);

            if (this.info.mode === "movies") {
              checkData = this.$store.getters["movies/getLoadedMovies"].find(
                mv => mv.id === data.id
              );
            } else if (this.info.mode === "drafts") {
              checkData = this.$store.getters["movies/getDrafts"].find(
                mv => mv.id === data.id
              );
            }

            let checkActId = checkData.actors.map(ac => ac.actor.id);
            let nowActId = this.actorSelected.map(ac => ac.id);
            let directorId = this.directorSelected.id;
            let newActData = [];
            let notEqual =
              checkActId.sort().join(",") !== nowActId.sort().join(",");
            if (notEqual) {
              variables = {
                movieId: data.id
              };
              await this.$apollo.mutate({
                mutation: deleteMovieActors,
                variables
              });

              nowActId.forEach(async acId => {
                variables = {
                  movieId: data.id,
                  actorId: acId
                };
                let dd = await this.$apollo.mutate({
                  mutation: setMovieActor,
                  variables
                });
                newActData.push(dd.data.insert_movie_actors_one);
              });
            }

            variables = {
              ...data,
              directorId
            };

            delete variables.actors;
            delete variables.director;
            delete variables.imagesByMovieid;
            delete variables.rating;

            let upData = await this.$apollo.mutate({
              mutation: UPDATE_MOVIE,
              variables
            });

            let finalD = upData.data.update_movies_by_pk;
            if (notEqual) {
              finalD.movie_actors = newActData;
            } else {
              finalD.movie_actors = checkData.actors;
            }

            this.$store.dispatch("movies/updateMovie", finalD);
            // console.log("new act", newActData);

            // console.log("final one:", finalD);
            // return true;
          } else {
            let director = this.directorSelected;

            variables = {
              title: data.title,
              cinemaId,
              directorId: director.id,
              published: data.published,
              schedule: data.schedule,
              genre: data.genre,
              movieLength: parseInt(data.movieLength)
            };

            let tempRepo = {
              ...variables
            };

            // send NEW movie to DB
            let resdata = await this.$apollo.mutate({
              mutation: setMovies,
              variables
            });

            let movieId = resdata.data.insert_movies_one.id;

            let movie_actors = [];
            this.actorSelected.forEach(async actor => {
              variables = {
                actorId: actor.id,
                movieId
              };
              let ad = await this.$apollo.mutate({
                mutation: setMovieActor,
                variables
              });
              movie_actors.push(ad.data.insert_movie_actors_one);
            });

            let imagesByMovieid = [];
            // upload Images
            if (this.files) {
              this.images.forEach(async img => {
                variables = { image: img, movieId };
                const data = await this.$apollo.mutate({
                  mutation: uploadImage,
                  variables
                });
                let imgD = data.data.uploadImage;
                delete imgD.movieId;
                imagesByMovieid.push(imgD);
              });
            }

            variables = {
              ...tempRepo,
              movie_actors,
              imagesByMovieid
            };

            delete variables.directorId;
            variables.director = director;
            variables.id = movieId;
            variables.rating = resdata.data.insert_movies_one.rating;

            console.log("full data", variables);

            this.$store.dispatch("movies/saveMovie", variables);
          }

          this.actorSelected = [];
          this.directorSelected = [];
          this.files = null;
        }
        if (this.info.mode === "actor") {
          let variables = {};

          if (data.id) {
            variables = {
              id: data.id,
              title: data.title
            };
            let dd = await this.$apollo.mutate({
              mutation: updateActor,
              variables
            });
            this.$store.dispatch(
              "actodir/updateActor",
              dd.data.update_actors_by_pk
            );
          } else {
            variables = {
              title: data.title,
              cinemaId
            };
            let dd = await this.$apollo.mutate({
              mutation: setActors,
              variables
            });
            this.$store.dispatch(
              "actodir/saveActor",
              dd.data.insert_actors_one
            );
          }
        }
        if (this.info.mode === "director") {
          let variables = {};

          if (data.id) {
            variables = {
              id: data.id,
              title: data.title
            };
            let dd = await this.$apollo.mutate({
              mutation: updateDirector,
              variables
            });
            this.$store.dispatch(
              "actodir/updateDirector",
              dd.data.update_directors_by_pk
            );
          } else {
            variables = {
              title: data.title,
              cinemaId
            };
            let dd = await this.$apollo.mutate({
              mutation: setDirector,
              variables
            });
            this.$store.dispatch(
              "actodir/saveDirector",
              dd.data.insert_directors_one
            );
          }
        }
        this.filesSup = null;
        this.editedItem = {};
        this.dialog = !this.dialog;
        this.files = null;
        this.images = [];
      } catch (err) {
        console.log("error in saveItem/customTable:", err);
      }
    },
    async deleteItem(item) {
      try {
        let data = {
          ...item
        };
        let variables = {};
        if (this.info.mode === "movies" || this.info.mode === "drafts") {
          if (confirm("Are you sure you want to delete this?")) {
            variables = {
              movieId: data.id
            };
            let delData = await this.$apollo.mutate({
              mutation: deleteMovies,
              variables
            });

            let deletedMovieId = delData.data.delete_movies.returning[0].id;
            console.log("deleted movie id ", deletedMovieId);

            this.$store.dispatch("movies/deleteMovie", deletedMovieId);
          }
        }
        // if (this.info.mode === "actor") {
        //   if (confirm("Are you sure you want to delete this?")) {
        //     variables = {
        //       id: data.id
        //     };

        //     let delAct = this.$apollo.mutate({
        //       mutation: DELETE_ACTOR,
        //       variables
        //     });

        //     this.$store.dispatch(
        //       "actodir/deleteActor",
        //       delAct.data.delete_actors_by_pk.id
        //     );
        //   }
        // }
        // if (this.info.mode === "director") {
        //   if (confirm("Are you sure you want to delete this?")) {
        //     variables = {
        //       id: data.id
        //     };

        //     let delAct = this.$apollo.mutate({
        //       mutation: DELETE_DIRECTOR,
        //       variables
        //     });

        //     this.$store.dispatch(
        //       "actodir/deleteDirector",
        //       delAct.data.delete_director_by_pk.id
        //     );
        //   }
        // }
      } catch (err) {
        console.log(err);
      }
    },
    async deletePhoto(item, pic) {
      try {
        let data = {
          ...item
        };

        let variables = {
          id: pic.id
        };
        let picData = await this.$apollo.mutate({
          mutation: deleteImage,
          variables
        });
        let stData = {
          movieid: data.id,
          picid: picData.data.delete_images_by_pk.id
        };
        this.$store.dispatch("movies/deletePhoto", stData);
      } catch (error) {
        console.log(error);
      }
      this.dialogPhoto = false;
      this.editedItem = {};
    },
    addNewPic(item) {
      try {
        let data = {
          ...item
        };
        let movieId = data.id;
        // console.log("files",this.files);
        // console.log("images",this.images);

        // upload Images
        if (this.files) {
          this.images.forEach(async img => {
            let variables = { image: img, movieId };
            const data = await this.$apollo.mutate({
              mutation: uploadImage,
              variables
            });
            let imgD = data.data.uploadImage;
            // delete imgD.movieId;
            let picD = { id: imgD.id, path: imgD.path };

            this.$store.dispatch("movies/addImage", { movieId, picD });
            // imagesByMovieid.push(imgD);
          });
        }
      } catch (error) {}

      this.dialogPhoto = false;
      this.editedItem = {};
      this.files = null;
      this.images = [];
      // console.log("value:", this.$refs.edPhoto.value);
      // this.$refs.edPhoto.value = null;
    }
  }
};
</script>
