<template>
  <div>
    <div style="display:block;">
      <v-container>
        <v-row>
          <v-col cols="12" md="6">
            <v-carousel cycle height="330" hide-delimiter-background show-arrows-on-hover>
              <v-carousel-item
                v-for="(pic, i) in item.imagesByMovieid"
                :key="i"
                :src="`${photo}${pic.path}`"
              ></v-carousel-item>
            </v-carousel>
          </v-col>
          <v-col cols="12" md="6">
            <div class="text-h3">
              <p class="primary--text text-capitalize">{{ item.title }}</p>
            </div>
            <div>
              <v-dialog v-model="dialog" max-width="400px">
                <v-card>
                  <v-card-title v-if="selectedActor.type === 'directors'">
                    {{
                    selectedActor.title
                    }}
                  </v-card-title>
                  <v-card-title v-if="selectedActor.type === 'actor'">
                    {{
                    selectedActor.title
                    }}
                  </v-card-title>
                  <v-card-text>
                    <P>
                      Rate
                      <span v-if="selectedActor.type === 'actor'">this actor</span>
                      <span v-else>this director</span>
                    </P>
                    <v-rating
                      v-model="ratingP"
                      background-color="grey"
                      color="yellow accent-4"
                      dense
                      half-increments
                      hover
                      size="28"
                      @input="ratePerson"
                    ></v-rating>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn text color="red" @click="dialog = false">Cancel</v-btn>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <P
                class="text-h6 grey--text"
                style="cursor:pointer"
                @click="selectActor(item.director)"
              >
                <v-icon color="primary" class="mr-3">mdi-movie-open-edit-outline</v-icon>
                {{ item.director.title }}
                <span class="black--text">
                  <v-icon color="yellow" class="mt-n2">mdi-star</v-icon>
                  ({{ item.director.rating }})
                </span>
              </P>
              <p>
                <v-icon color="primary" class="mr-3">mdi-clock-outline</v-icon>
                {{ item.schedule }}
              </p>
              <p>
                <v-icon color="primary" class="mr-3">mdi-play-box-outline</v-icon>
                {{ item.movieLength }}hrs
              </p>
              <p class="text-capitalize">
                <v-icon color="primary" class="mr-3">mdi-ev-plug-type2</v-icon>
                {{ item.genre }}
              </p>
              <p style="cursor:pointer" @click="onCinema">
                <v-icon color="primary" class="mr-3">mdi-theater</v-icon>
                {{ item.cinema.name }}
                <v-dialog v-model="cinemaDialog" max-width="600px">
                  <v-card>
                    <v-card-title>{{ item.cinema.name }}</v-card-title>
                    <v-card-text>
                      <v-row>
                        <v-col cols="12" md="6">
                          <v-img height="150" :src="require('~/assets/img/prisonbreak.jpg')"></v-img>
                        </v-col>
                        <v-col>
                          <div>
                            <p>
                              <v-icon color="primary" class="mr-2">mdi-theater</v-icon>
                              {{ item.cinema.name }}
                            </p>
                            <p>
                              <v-icon color="primary" class="mr-2">mdi-counter</v-icon>300
                            </p>
                            <p>
                              <v-icon color="primary" class="mr-2">mdi-map-marker</v-icon>
                              {{ item.cinema.address }}
                            </p>
                            <p>
                              <v-rating
                                :value="item.cinema.rating"
                                background-color="grey"
                                color="yellow accent-4"
                                dense
                                half-increments
                                readonly
                                size="18"
                              ></v-rating>
                              <span class="grey--text caption">({{ item.cinema.rating }})</span>
                            </p>
                          </div>
                        </v-col>
                      </v-row>
                      <P class="mt-3 mb-0">Rate this Cinema</P>
                      <v-rating
                        v-model="ratingC"
                        background-color="grey"
                        color="yellow accent-4"
                        dense
                        half-increments
                        hover
                        size="28"
                        @input="rateCinema"
                      ></v-rating>

                      <v-row
                        v-for="review in item.cinema.cinema_comments"
                        :key="review.id"
                        align="center"
                        class="my-10 mx-0 pa-3"
                      >
                        <v-col cols="12">
                          By:
                          <span class="ml-2 font-weight-bold">{{ review.user.username }}</span>

                          <v-icon size="20" color="primary" class="ml-10 mr-3">mdi-clock-outline</v-icon>
                          <span class="grey--text">
                            {{
                            new Date(review.created_at)
                            .toISOString()
                            .substr(0, 10)
                            }}
                          </span>
                        </v-col>
                        <v-col cols="12" class="ml-3">{{ review.comment }}</v-col>
                      </v-row>

                      <v-row>
                        <v-col cols="12" md="6">
                          <v-text-field
                            class="mt-4"
                            prepend-inner-icon="mdi-comment-outline"
                            height="55"
                            outlined
                            solo
                            flat
                            color="primary"
                            placeholder="Comment ..."
                            v-model="ccomment"
                          ></v-text-field>
                        </v-col>
                      </v-row>
                      <v-btn
                        large
                        depressed
                        color="primary"
                        class="white--text"
                        @click="sendCcomment"
                      >
                        Submit
                        <v-icon class="ml-2">mdi-email-send-outline</v-icon>
                      </v-btn>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn text color="red" @click="cinemaDialog = false">Cancel</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </p>
            </div>

            <div>
              Rate this movie
              <v-rating
                v-model="ratingM"
                background-color="grey"
                color="yellow accent-4"
                dense
                half-increments
                hover
                size="28"
                @input="rateMovie"
              ></v-rating>
            </div>
          </v-col>
        </v-row>
        <div class="text-h6 mt-3">Actors</div>
        <v-row class="mx-0 my-3">
          <v-chip
            color="primary"
            outlined
            class="ma-2"
            v-for="actor in item.movie_actors"
            :key="actor.actor.id"
            @click="selectActor(actor)"
          >
            <v-avatar left>
              <v-icon>mdi-account-circle</v-icon>
            </v-avatar>
            {{ actor.actor.title }}
            <v-avatar right class="mr-1">
              <v-icon color="yellow">mdi-star</v-icon>
            </v-avatar>
            ({{ actor.actor.rating }})
          </v-chip>
        </v-row>
      </v-container>
      <v-container>
        <div>
          <p class="primary--text text-h5">Review Movie</p>
        </div>
        <v-divider class="mb-10"></v-divider>

        <v-row
          v-for="review in item.movie_comments"
          :key="review.id"
          align="center"
          class="my-10 mx-0 pa-3"
        >
          <v-col cols="12">
            By:
            <span class="ml-2 font-weight-bold">
              {{ review.user.username }}
              <v-chip
                x-small
                v-if="userId === review.user.userId"
                color="primary"
                outlined
                class="ma-2"
              >me</v-chip>
            </span>

            <v-icon size="20" color="primary" class="ml-10 mr-3">mdi-clock-outline</v-icon>
            <span class="grey--text">{{ new Date(review.created_at).toISOString().substr(0, 10) }}</span>
          </v-col>
          <v-col cols="12" class="ml-3">{{ review.comment }}</v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              prepend-inner-icon="mdi-comment-outline"
              solo
              height="55"
              flat
              color="primary"
              placeholder="Comment ..."
              v-model="comment"
            ></v-text-field>
          </v-col>
        </v-row>

        <v-btn x-large depressed color="primary" class="white--text" @click="sendMcomment">
          Submit
          <v-icon class="ml-2">mdi-email-send-outline</v-icon>
        </v-btn>
      </v-container>
    </div>
  </div>
</template>
<style scoped>
.nuxt-link-active {
  color: black;
}
.nuxt-link-exact-active {
  color: black;
}
</style>
<script>
import rateMovie from "~/queries/rate_movie.gql";
import rateActor from "~/queries/rate_actor.gql";
import rateDirector from "~/queries/rate_director.gql";
import rateCinema from "~/queries/rate_cinema.gql";
import setComment from "~/queries/set_comment.gql";
import setCinemaComment from "~/queries/set_cinema_comment.gql";
import gql from "graphql-tag";

// const RATE_MOVIE = gql`
//   ${rateMovie}
// `;
// const RATE_ACTOR = gql`
//   ${rateActor}
// `;
// const RATE_DIRECTOR = gql`
//   ${rateDirector}
// `;
// const RATE_CINEMA = gql`
//   ${rateCinema}
// `;
// const SET_COMMENT = gql`
//   ${setComment}
// `;
// const SET_CINEMA_COMMENT = gql`
//   ${setCinemaComment}
// `;
export default {
  data() {
    return {
      userId: this.$store.getters["common/id"],
      ratingM: 0,
      ratingP: 0,
      ratingC: 0,
      dialog: false,
      cinemaDialog: false,
      comment: "",
      ccomment: "",
      photo: process.env.PHOTO_URL,
      selectedActor: {}
    };
  },
  mounted() {
    this.setup();
  },
  methods: {
    setup() {
      console.log(this.item);
    },
    async rateMovie(rt) {
      try {
        let variables = {
          userId: this.$store.getters["common/id"],
          movieid: parseInt(this.$route.params.id),
          value: rt
        };
        let rData = await this.$apollo.mutate({
          mutation: rateMovie,
          variables
        });
        console.log(rData);

        this.$store.dispatch("movies/updateMovieRating", {
          movieid: parseInt(this.$route.params.id),
          rating: rData.data.insert_movie_rating_one.movie.rating
        });
      } catch (err) {
        console.log(err);
      }
    },
    async ratePerson(rt) {
      try {
        if (this.selectedActor.type === "actor") {
          let variables = {
            userId: this.$store.getters["common/id"],
            actorid: this.selectedActor.id,
            value: rt
          };
          let rData = await this.$apollo.mutate({
            mutation: rateActor,
            variables
          });
          console.log("returned", rData);

          let actIndex = this.item.movie_actors.findIndex(
            actor => actor.actor.id === this.selectedActor.id
          );
          this.item.movie_actors[actIndex].actor.rating =
            rData.data.insert_actor_rating_one.actor.rating;

          // this.$store.dispatch("movies/updateActorRating", {
          //   movieid: parseInt(this.$route.params.id),
          //   rating: rData.data.insert_actor_rating_one.actor.rating,
          //   actorid: this.selectedActor.actor.id
          // });
        } else if (this.selectedActor.type === "directors") {
          let variables = {
            userId: this.$store.getters["common/id"],
            directorid: this.selectedActor.id,
            value: rt
          };
          let rData = await this.$apollo.mutate({
            mutation: rateDirector,
            variables
          });
          // console.log("returned", rData);
          this.item.director.rating =
            rData.data.insert_director_rating_one.director.rating;

          // this.$store.dispatch("movies/updateDirectorRating", {
          //   movieid: parseInt(this.$route.params.id),
          //   rating: rData.data.insert_director_rating_one.director.rating
          // });
        }
      } catch (error) {
        console.log(error);
      }

      this.ratingP = 0;
    },
    async rateCinema(rt) {
      try {
        let variables = {
          userId: this.$store.getters["common/id"],
          cinemaid: this.item.cinemaId,
          value: rt
        };
        console.log("var data", variables);

        let rData = await this.$apollo.mutate({
          mutation: rateCinema,
          variables
        });
        console.log("returned", rData);

        this.item.cinema.rating =
          rData.data.insert_cinema_rating_one.cinema.rating;

        // this.$store.dispatch("movies/updateDirectorRating", {
        //   movieid: parseInt(this.$route.params.id),
        //   rating: rData.data.insert_director_rating_one.director.rating
        // });
      } catch (err) {
        console.log(err);
      }
    },
    async sendMcomment() {
      try {
        let variables = {
          comment: this.comment,
          movieid: parseInt(this.$route.params.id),
          userId: this.$store.getters["common/id"]
        };
        let rData = await this.$apollo.mutate({
          mutation: setComment,
          variables
        });
        this.item.movie_comments.push(rData.data.insert_movie_comment_one);
        // console.log("comm data", rData);
        this.comment = "";
      } catch (error) {
        console.log(error);
      }
    },
    async sendCcomment() {
      try {
        let variables = {
          comment: this.ccomment,
          cinemaid: this.item.cinemaId,
          userId: this.$store.getters["common/id"]
        };
        let rData = await this.$apollo.mutate({
          mutation: setCinemaComment,
          variables
        });

        console.log("item ng", this.item);

        this.item.cinema.cinema_comments.push(
          rData.data.insert_cinema_comment_one
        );
        // console.log("comm data", rData);
      } catch (error) {
        console.log(error);
      }

      this.ccomment = "";
    },
    onActor() {
      this.dialog = true;
    },
    onCinema() {
      this.cinemaDialog = true;
    },
    selectActor(actor) {
      if (!actor.type) {
        this.selectedActor = actor.actor;
      } else {
        this.selectedActor = actor;
      }
      // this.selectedActor = actor;
      console.log("alla", this.selectedActor);

      this.dialog = true;
    }
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  }
};
</script>
