<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :src="require('~/assets/img/cinema3.jpeg')"
      fixed
      app
      dark
    >
      <v-list-item class="pa-4">
        <v-list-item-avatar>
          <v-img src="/img/fam_movie.jpg"></v-img>
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="title text-uppercase">{{ cinema.name }}</v-list-item-title>
          <v-list-item-subtitle>{{ cinema.email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list class="px-4" nav>
        <v-list-item-group color="main">
          <v-list-item v-for="item in items" :key="item.title" :to="item.to">
            <v-list-item-icon>
              <v-icon color="white">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="font-weight-bold white--text">
                {{
                item.title
                }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar class="transparent" app absolute flat>
      <v-btn @click.stop="drawer = !drawer" class="mr-3" fab rounded depressed>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
      <v-toolbar-title>{{ this.$route.name.toUpperCase() }}</v-toolbar-title>
      <!-- <v-toolbar-title>LOGO</v-toolbar-title> -->
      <v-spacer></v-spacer>
      <v-row
        v-if="this.$route.name.toLowerCase() !== 'movie'"
        class="px-16"
        align="center"
        align-content="center"
      ></v-row>
      <!-- <v-btn icon>
        <v-badge color="red" :content="3" :value="3" bordered overlap>
          <v-icon>mdi-bell</v-icon>
        </v-badge>
      </v-btn>-->
      <v-btn text color="red" @click="logout">
        Log Out
        <v-icon class="ml-1">mdi-logout</v-icon>
      </v-btn>
    </v-app-bar>
    <v-main style="background-color:#eee">
      <v-container class="pa-10">
        <nuxt />
      </v-container>
    </v-main>
    <!-- <v-footer app absolute>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>-->
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        {
          title: "Dashboard",
          icon: "mdi-view-dashboard-outline",
          to: "/cinema/home"
        },
        {
          title: "Movies",
          icon: "mdi-movie-open-outline",
          to: "/cinema/movies"
        },
        { title: "Drafts", icon: "mdi-drama-masks", to: "/cinema/drafts" },
        {
          title: "Actors",
          icon: "mdi-account-multiple",
          to: "/cinema/actors"
        },
        {
          title: "Directors",
          icon: "mdi-movie-open-edit",
          to: "/cinema/directors"
        },
        { title: "Profile", icon: "mdi-account", to: "/cinema/profile" }
      ]
    };
  },
  methods: {
    logout() {
      localStorage.setItem("token", "");
      this.$store.dispatch("cinema/logOut");
      this.$store.dispatch("movies/resetMovies");
      this.$store.dispatch("actodir/resetData");
      localStorage.clear();
      this.$router.push("/");
    }
  },
  computed: {
    cinema() {
      return this.$store.getters["cinema/getCinemaInfo"];
    }
  }
};
</script>
