<template>
  <v-app dark>
    <v-app-bar app elevation="0" class="transparent pr-sm-10">
      <v-spacer></v-spacer>
      <v-menu offset-y>
        <template #activator="{ on, attrs }">
          <span
            style="border:1px white solid;border-radius:4%"
            class="pa-1 white--text langSpan mt-1"
            v-bind="attrs"
            v-on="on"
            @click="iconClicked"
          >
            {{ languageChoice[0].langName }}
            <v-icon color="white" small class="pb-1">
              {{
                checkIcon
                  ? upAndDownIcons[0].iconName
                  : upAndDownIcons[1].iconName
              }}
            </v-icon>
          </span>
        </template>
        <v-list dense>
          <v-list-item link @click="changeLocale">
            <v-list-item-title>{{
              languageChoice[1].langName
            }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <nuxt />
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      upAndDownIcons: [
        { iconName: "mdi-chevron-up" },
        { iconName: "mdi-chevron-down" }
      ],
      languageChoice: [{ langName: "English" }, { langName: "አማርኛ" }],
      checkIcon: true
    };
  },
  methods: {
    iconClicked() {
      this.checkIcon = !this.checkIcon;
    },
    changeLocale() {
      this.$i18n.setLocale(this.$i18n.locale === "en" ? "et" : "en");
      this.changeLangBtn();
      this.iconClicked();
    },
    changeLangBtn() {
      this.languageChoice[0].langName = this.$i18n.locales.filter(
        i => i.code === this.$i18n.locale
      )[0].name;
      this.languageChoice[1].langName = this.$i18n.locales.filter(
        i => i.code !== this.$i18n.locale
      )[0].name;
    }
  }
};
</script>
