<template>
  <v-app dark>
    <v-navigation-drawer
      v-model="drawer"
      :src="require('~/assets/img/cinema3.jpeg')"
      fixed
      app
      dark
    >
      <v-list-item class="pa-4">
        <v-list-item-avatar>
          <!-- <v-img :src="user.image_path"></v-img> -->
          <!-- <v-icon size="50" v-if="!user.image_path">mdi-account-circle-outline</v-icon> -->
          <!-- <v-avatar> -->
          <v-img
            v-if="!user.image_path"
            style="border-radius:50%"
            src="../img/logo.png"
          ></v-img>
          <v-img
            v-else-if="user.image_path"
            style="border-radius:50%"
            :src="user.image_path"
          ></v-img>
          <!-- </v-avatar> -->
        </v-list-item-avatar>

        <v-list-item-content>
          <v-list-item-title class="title text-uppercase">
            {{ user.username }}
          </v-list-item-title>
          <v-list-item-subtitle>{{ user.email }}</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list class="px-4" nav>
        <v-list-item-group color="main">
          <v-list-item v-for="item in items" :key="item.title" :to="item.to">
            <v-list-item-icon>
              <v-icon color="white">{{ item.icon }}</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title class="font-weight-bold white--text">
                {{ item.title }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar class="transparent" app absolute flat>
      <v-btn @click.stop="drawer = !drawer" class="mr-3" fab rounded depressed>
        <v-icon>mdi-dots-vertical</v-icon>
      </v-btn>
      <!-- <v-toolbar-title>{{ this.$route.name.split("-")[1].toUpperCase() }}</v-toolbar-title> -->
      <!-- <v-toolbar-title>LOGO</v-toolbar-title> -->
      <v-row
        v-if="
          this.$route.name.toLowerCase() === 'user-movies' ||
            this.$route.name.toLowerCase() === 'user-favorite' ||
            this.$route.name.toLowerCase() === 'user-profile'
        "
        class="px-16 text-h5"
        justify="center"
      >
        Movie
        <!-- <span class="primary--text">Schedule</span> -->
        <span class="ml-1 white--text" style="background-color:#5c0931"
          >Schedule</span
        >
      </v-row>
      <v-row
        v-if="
          this.$route.name.toLowerCase() !== 'user-movies' &&
            this.$route.name.toLowerCase() !== 'user-favorite' &&
            this.$route.name.toLowerCase() !== 'user-profile'
        "
        class="px-16"
        align="center"
        align-content="center"
      >
        <!-- <v-col cols="4"> -->
        <!-- {{this.$route.name.toUpperCase()}} -->
        <v-icon color="primary" class="mr-3">mdi-movie-roll</v-icon>
        <span class="text-uppercase">{{ movieName }}</span>

        <v-icon color="primary" class="ml-3">mdi-movie-roll</v-icon>
        <!-- </v-col> -->
      </v-row>
      <!-- <v-btn icon>
        <v-badge color="red" :content="3" :value="3" bordered overlap>
          <v-icon>mdi-bell</v-icon>
        </v-badge>
      </v-btn>-->
      <v-btn text color="red" @click="logout">
        <!-- {{ $t("logout") }} -->
        <v-icon class="ml-1">mdi-logout</v-icon>
        {{ $t("logout") }}
      </v-btn>
    </v-app-bar>
    <v-main style="background-color:#eee">
      <v-container class="pa-10">
        <nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        {
          title: this.$t("movies"),
          icon: "mdi-movie-open-outline",
          to: "/user/movies"
        },
        {
          title: this.$t("favorite"),
          icon: "mdi-heart-outline",
          to: "/user/favorite"
        },
        // { title: "Reminder", icon: "mdi-reminder", to: "/user/movies" },
        { title: this.$t("profile"), icon: "mdi-account", to: "/user/profile" }
      ]
    };
  },
  methods: {
    logout() {
      try {
        this.$store.dispatch("common/logout");
        this.$store.commit("movies/logout");
        this.$router.push("/");
      } catch (err) {
        console.log(err);
      }
    }
  },
  computed: {
    user() {
      return this.$store.getters["common/userData"];
    },
    movieName() {
      let movieTitle = this.$store.getters["movies/getSearchedMovie"].title;
      return movieTitle;
    },
    count() {
      return this.$store.getters["messages/getCount"];
    }
  }
};
</script>
