<template>
  <div>
    <v-img
      class="ma-0"
      src="img/fam_movie.jpg"
      gradient=" to right bottom,
      rgb(0,0,0,.8),
      rgb(0, 0, 0,.8)
      "
    >
      <v-row justify="center">
        <v-card
          color="transparent "
          class="mt-16 rounded-xl"
          max-width="450"
          dense
          elevation="16"
          dark
          flat
        >
          <v-toolbar class="text-center" :elevation="1" flat color="primary">
            <v-spacer></v-spacer>
            <v-toolbar-title class="text-center display-1">Cinema Sign Up</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text max-width="400" class="mt-5">
            <v-form ref="form" class="px-6" v-model="valid">
              <v-text-field
                prepend-inner-icon="mdi-account"
                outlined
                rounded
                color="primary"
                placeholder="Name"
                v-model="name"
                :rules="rules.required"
              ></v-text-field>
              <v-text-field
                prepend-inner-icon="mdi-city"
                outlined
                rounded
                color="primary"
                placeholder="Address/City"
                v-model="address"
                :rules="rules.required"
              ></v-text-field>
              <v-text-field
                prepend-inner-icon="mdi-email"
                outlined
                rounded
                color="primary"
                placeholder="Email"
                v-model="email"
                :rules="rules.email"
              ></v-text-field>
              <v-text-field
                prepend-inner-icon="mdi-lock"
                outlined
                rounded
                color="primary"
                placeholder="Password"
                v-model="password"
                :rules="rules.password"
                :type="show ? 'text' : 'password'"
                :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                @mousedown="show = !show"
                @mouseup="show = !show"
              ></v-text-field>
              <v-text-field
                prepend-inner-icon="mdi-lock"
                outlined
                rounded
                color="primary"
                placeholder="Confirm Password"
                v-model="cPassword"
                :rules="rules.password"
                :type="show ? 'text' : 'password'"
                :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                @mousedown="show = !show"
                @mouseup="show = !show"
              ></v-text-field>
              <v-container v-if="!confirmPassword">
                <v-alert dark dismissible v-model="error" type="error" v-text="error_message" />
              </v-container>
              <v-card-actions>
                <v-btn
                  :loading="loading"
                  color="primary"
                  large
                  block
                  rounded
                  @click="add_cinema"
                >Signup</v-btn>
              </v-card-actions>
            </v-form>
            <v-row justify="center" class="my-2">
              already have an account?
              <nuxt-link class="white--text" to="/">LogIn</nuxt-link>
            </v-row>
          </v-card-text>
        </v-card>
      </v-row>
    </v-img>
  </div>
</template>

<script>
import gql from "graphql-tag";
import cinemaSignup from "~/queries/cinema_signup.gql";

// const CINEMA_SINGUP = gql`
//   ${cinemaSignup}
// `;

export default {
  data() {
    return {
      name: "",
      email: "",
      address: "",
      password: "",
      error: false,
      loading: false,
      error_message: "password mis-match",
      cPassword: "",
      show: false,
      valid: true
    };
  },
  methods: {
    async add_cinema() {
      try {
        this.loading = true;
        const variables = {
          name: this.name,
          email: this.email,
          address: this.address,
          password: this.password
        };
        const data = await this.$apollo.mutate({
          mutation: cinemaSignup,
          variables
        });

        console.log("cinema s data: ", data);

        this.$refs.form.reset();
      } catch (error) {
        console.log(error);
      }
      this.loading = false;
    }
  },
  computed: {
    confirmPassword() {
      if (this.password === this.cPassword) {
        this.valid = true;
        return true;
      } else {
        this.valid = false;
        this.error = true;
        return false;
      }
    }
  }
};
</script>
