<template>
  <div class="ma-0">
    <v-img
      class="ma-0"
      style=" height:100vh"
      src="img/fam_movie.jpg"
      gradient=" to right bottom,
      rgb(0,0,0,.8),
      rgb(0, 0, 0,.8)
      "
    >
      <v-row style="height:400px">
        <v-col>
          <v-card
            style="background:transparent;top:60px"
            class="py-16 ml-16"
            dense
            max-width="450"
            flat
            dark
          >
            <v-card-text max-width="400">
              <h2
                class="text-h1 text-center mb-6 font-weight-bold text-underline"
              >
                Movie
                <div class="my-2"></div>
                <span class="pa-2" style="background-color: #5c0931"
                  >Schedule</span
                >
              </h2>

              <v-row justify="center" class="my-8">
                <div class="text-h6 text-justify">
                  “I WOULD TRAVEL DOWN TO HELL AND WRESTLE A FILM AWAY FROM THE
                  DEVIL IF IT WAS NECESSARY.”
                </div>
                <div class="text-h6">- Werner Herzog</div>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col v-if="mode === 'cinema'">
          <v-card
            class="py-16 ml-10 rounded-xl"
            elevation="16"
            style="top: 60px;background:transparent;"
            dense
            max-width="450"
            dark
          >
            <h2 class="display-2 text-center mb-6">{{ $t("loginCinema") }}</h2>
            <v-card-text max-width="400">
              <v-form
                ref="form"
                class="px-6"
                @submit.prevent="onSubmit"
                v-model="valid"
              >
                <v-text-field
                  prepend-inner-icon="mdi-account"
                  :placeholder="$t('email')"
                  outlined
                  rounded
                  v-model="username"
                  :rules="rules.email"
                ></v-text-field>
                <v-text-field
                  prepend-inner-icon="mdi-lock"
                  :placeholder="$t('password')"
                  outlined
                  rounded
                  v-model="password"
                  :type="show ? 'text' : 'password'"
                  :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                  @mousedown="show = !show"
                  @mouseup="show = !show"
                  :rules="rules.password"
                ></v-text-field>
                <v-alert
                  colored-border
                  border="left"
                  v-if="errAlrt"
                  color="red"
                  dark
                >
                  Invalid Email or Password
                </v-alert>
                <v-card-actions>
                  <v-btn color="primary" large block rounded type="submit">{{
                    $t("login")
                  }}</v-btn>
                </v-card-actions>
              </v-form>
              <v-row
                class="my-2"
                align="center"
                align-content="center"
                justify="center"
              >
                <nuxt-link class="white--text" to="/cinema_signup"
                  >SignUp as Cinema</nuxt-link
                >
              </v-row>
              <v-row
                class="my-2"
                align="center"
                align-content="center"
                justify="center"
                >______________Switch Here_____________</v-row
              >
              <v-row align-content="center" justify="center" align="center">
                <v-btn
                  color="white"
                  class="primary--text"
                  rounded
                  @click="changeMode"
                >
                  {{ $t("loginUser") }}
                  <v-icon>mdi-chevron-double-right</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col v-else-if="mode === 'user'">
          <v-card
            class="py-16 ml-10 rounded-xl"
            elevation="16"
            style="top: 60px;background:transparent;"
            dense
            max-width="450"
            dark
          >
            <h2 class="display-2 text-center mb-6">{{ $t("loginUser") }}</h2>
            <v-card-text max-width="400">
              <v-form ref="form" class="px-6" v-model="valid">
                <v-text-field
                  prepend-inner-icon="mdi-account"
                  :placeholder="$t('email')"
                  outlined
                  rounded
                  v-model="username"
                  :rules="rules.email"
                ></v-text-field>
                <v-text-field
                  prepend-inner-icon="mdi-lock"
                  :placeholder="$t('password')"
                  outlined
                  rounded
                  v-model="password"
                  :type="show ? 'text' : 'password'"
                  :append-icon="show ? 'mdi-eye-off' : 'mdi-eye'"
                  @mousedown="show = !show"
                  @mouseup="show = !show"
                  :rules="rules.password"
                ></v-text-field>
                <v-alert colored-border v-if="errAlrt" light class="red--text">
                  Invalid Email or Password
                </v-alert>
                <v-card-actions>
                  <v-btn color="primary" large block rounded @click="logIn">{{
                    $t("login")
                  }}</v-btn>
                </v-card-actions>
              </v-form>
              <v-row
                class="my-2"
                align="center"
                align-content="center"
                justify="center"
              >
                <nuxt-link class="white--text" to="/user_signup"
                  >SignUp as User</nuxt-link
                >
              </v-row>
              <v-row
                class="my-2"
                align="center"
                align-content="center"
                justify="center"
                >______________Switch Here_____________</v-row
              >
              <v-row align-content="center" justify="center" align="center">
                <v-btn
                  color="white"
                  class="primary--text"
                  rounded
                  @click="changeMode"
                >
                  {{ $t("loginCinema") }}
                  <v-icon>mdi-chevron-double-right</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
    </v-img>
  </div>
</template>

<script>
import gql from "graphql-tag";

import login_token from "~/queries/token.gql";
import cinemaLogin from "~/queries/cinema_login.gql";
import getUser from "~/queries/getUser.gql";

export default {
  data() {
    return {
      errAlrt: false,
      mode: "cinema",
      username: "",
      password: "",
      show: false,
      valid: true
    };
  },

  methods: {
    changeMode() {
      if (this.mode === "cinema") {
        this.mode = "user";
      } else if (this.mode === "user") {
        this.mode = "cinema";
      }
    },
    async onSubmit() {
      try {
        const variables = {
          password: this.password,
          email: this.username
        };

        const data = await this.$apollo.mutate({
          mutation: cinemaLogin,
          variables
        });
        localStorage.setItem("token", data.data.cinemaLogin.token);
        // console.log("login token 1", localStorage.getItem("token"));
        if (localStorage.getItem("token") !== "") {
          // console.log("login token", localStorage.getItem("token"));
          this.$store.dispatch("cinema/setCinema", data.data.cinemaLogin);
          this.$router.push("/cinema/home");
        }
      } catch (error) {
        console.log(error);
        this.errAlrt = true;
      }
    },
    async logIn(user) {
      try {
        // console.log("just Print", this.username);

        const { data } = await this.$apollo.query({
          query: login_token,
          variables: {
            username: this.username,
            password: this.password
          },
          fetchPolicy: "network-only"
        });

        const token = data.token.access_token;

        let claims = token.split(".")[1];

        claims = JSON.parse(atob(claims));

        claims.access_token = token;

        this.$store.commit("common/login", claims);

        this.$store.dispatch("common/fetch_user_data");
        // console.log("claims", this.$store.getters["common/token"]);
        // console.log("token", token);

        localStorage.setItem("session", JSON.stringify(claims));

        this.$toasted.success(this.$t("successfully_logged_in"));

        let check = JSON.parse(localStorage.getItem("session"));

        if (check.access_token && check.access_token !== "") {
          // console.log(check.metadata["x-hasura-user-id"]);

          let da = await this.$apollo.query({
            query: getUser,
            variables: {
              userId: check.metadata["x-hasura-user-id"]
            }
          });
          // console.log("tikl", da.data._user[0]);

          this.$store.commit("common/set_userData", da.data._user[0]);
          this.$router.push("/user/movies");
        }
      } catch (error) {
        console.log("for login", error);
        this.errAlrt = true;
      }
    },
    getFailureData(errorData) {
      console.log("halala", errorData);
    }
  }
};
</script>
