<template>
  <v-img
    class="ma-0"
    style=" height:100vh"
    src="img/fam_movie.jpg"
    gradient=" to right bottom,
      rgb(0,0,0,.8),
      rgb(0, 0, 0,.8)
      "
  >
    <v-row align="center" justify="center">
      <v-col md="8" sm="12" class="pt-12" style="margin-top:150px">
        <v-card>
          <v-form v-model="valid" class="pr-4 pl-4" @submit.prevent="submit">
            <v-row justify="center">
              <div class="flex-shrink-1 pt-12">
                <img src="/message.png" height="300" />
              </div>
              <div class="col pt-16">
                <!-- <v-col> -->
                <v-row class="pt-16" justify="center">
                  <v-col cols="12">
                    <div class="text-center">
                      <div class="font-weight-black title">Hello User!</div>
                    </div>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col>
                    <div class="text-center">
                      <v-btn
                        color="primary"
                        rounded
                        outlined
                        type="submit"
                        :disabled="!valid"
                        :loading="loading"
                      >Confirm Your Email</v-btn>
                    </div>
                  </v-col>
                </v-row>
              </div>
            </v-row>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-img>
</template>

<script>
// import confirm_phone from "~/queries/confirm-phone.gql";
import confirm_email from "~/queries/confirm-email.gql";
import confirm_email_change from "~/queries/confirm_email_change.gql";
export default {
  data() {
    return {
      usenrame: this.$route.query.username || undefined,
      acc_confirmation_token: this.$route.query.confirmation_token || undefined,
      email_confirmation_token:
        this.$route.query.change_email_token || undefined,
      valid: false,
      loading: false,
      resending: false,
      phone_number: this.$route.query.phone_number,
      code_fragment: {},
      code: undefined
    };
  },
  methods: {
    // focus(refs, item) {
    //   refs[item].focus();
    // },
    async submit() {
      console.log("acc confirmation token", this.acc_confirmation_token);
      console.log(
        "email change confirmation token",
        this.email_confirmation_token
      );

      this.loading = true;
      try {
        if (this.$route.query.confirmation_token) {
          console.log("account email confirmation");

          const { data } = await this.$apollo.mutate({
            mutation: confirm_email,
            variables: {
              token: this.acc_confirmation_token
            }
          });
        } else if (this.$route.query.change_email_token) {
          console.log("chnaged email confirmation");

          const { data } = await this.$apollo.mutate({
            mutation: confirm_email_change,
            variables: {
              token: this.email_confirmation_token
            }
          });
        }

        this.$router.push("/");
        // const name = data.confirm_email.name;
        // this.$router.replace(
        //   this.localePath({
        //     name: "index",
        //     query: {
        //       name
        //     }
        //   })
        // );

        //   }
        this.loading = false;
      } catch (err) {
        this.loading = false;
        console.log(err);
      }
    }
  }
};
</script>