<template>
  <v-layout column>
    <!-- <meta http-equiv="refresh" content="0;movies" /> -->
    <v-flex xs12 sm8 md6>
      <v-divider class="mb-4 mt-n6"></v-divider>
      <v-row class="mx-0 mb-5" justify="center">Your Favorite Movies</v-row>

      <v-row>
        <v-col v-for="movie in favorites" :key="movie.id" cols="12" md="4">
          <v-card
            class="mx-auto"
            max-width="300"
            @click="singleMovie(movie.movie.id, movie.movie.published)"
          >
            <v-img :src="`${photo}${movie.movie.imagesByMovieid[0].path}`" height="150px"></v-img>

            <v-card-title class="text-capitalize">{{ movie.movie.title }}</v-card-title>
            <v-card-text>
              <v-row align="center" class="mx-0">
                <v-rating
                  :value="movie.movie.rating"
                  background-color="grey"
                  color="yellow accent-4"
                  dense
                  half-increments
                  readonly
                  size="18"
                ></v-rating>
                <span class="grey--text caption mr-2">({{ movie.movie.rating }})</span>
                <v-spacer></v-spacer>
                <!-- <v-btn icon x-small class="mr-1">
                  <v-icon>mdi-alarm</v-icon>
                </v-btn>-->
                <v-btn icon x-small @click="removeFav(movie.movie.id)">
                  <v-icon color="pink">mdi-heart</v-icon>
                </v-btn>
                <v-btn v-if="movie.published === false" icon x-small>
                  <v-icon>mdi-bell-outline</v-icon>
                </v-btn>
              </v-row>
            </v-card-text>
            <v-card-subtitle class="pb-0 text-capitalize">
              <v-icon color="primary" class="mr-3" size="20">mdi-account-multiple</v-icon>
              {{ movie.movie.movie_actors[0].actor.title }}, ...
            </v-card-subtitle>
            <v-card-subtitle class="pt-0 text-capitalize">
              <v-icon color="primary" class="mr-3" size="20">mdi-movie-open-edit</v-icon>
              {{ movie.movie.director.title }}
            </v-card-subtitle>
            <v-row align="center" class="mx-0 pt-2 pb-3 px-4">
              <!-- <v-card-subtitle class="pt-0"> -->
              <v-icon color="primary" class="mr-3" size="20">mdi-theater</v-icon>
              <div class="grey--text text-capitalize">{{ movie.movie.cinema.name }}</div>

              <v-spacer></v-spacer>

              <div v-if="movie.movie.published === true">
                <v-icon color="primary" class="mr-1" size="20">mdi-clock-outline</v-icon>
                {{ movie.movie.schedule }}
              </div>
              <div v-else>
                <v-chip color="primary">Coming Soon</v-chip>
              </div>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script>
import removeFavorite from "~/queries/remove_favorite.gql";
import gql from "graphql-tag";

// const REMOVE_FAVORITE = gql`
//   ${removeFavorite}
// `;
export default {
  layout: "user",
  middleware: "auth",
  data() {
    return {
      photo: process.env.PHOTO_URL
    };
  },
  computed: {
    favorites() {
      return this.$store.getters["movies/getFavMovies"];
    }
  },
  methods: {
    async removeFav(movieid) {
      try {
        let variables = {
          movieid,
          userId: this.$store.getters["common/profile"].id
        };
        let remData = await this.$apollo.mutate({
          mutation: removeFavorite,
          variables
        });
        console.log("challenge");

        console.log(
          "removed fav id",
          remData.data.delete_favorite_movie_by_pk.id
        );

        this.$store.dispatch(
          "movies/removeFav",
          remData.data.delete_favorite_movie_by_pk.id
        );
      } catch (error) {
        console.log(error);
      }
    },
    async singleMovie(id, published) {
      // try {
      //   if (published) {
      //     let singleMv = await this.$apollo.mutate({
      //       mutation: GET_SINGLE_MOVIE,
      //       variables: { id }
      //     });
      //     let searchedMv = singleMv.data.movies[0];
      //     this.$store.dispatch("movies/setSearchedMovie", searchedMv);
      //     console.log(
      //       "data in movies/index",
      //       this.$store.getters["movies/getSearchedMovie"]
      //     );
      //     if (
      //       this.$store.getters["movies/getSearchedMovie"] !== undefined &&
      //       this.$store.getters["movies/getSearchedMovie"]
      //     ) {
      //       console.log("yes! there is data and routed");
      //       this.$router.push(`/user/movies/${id}`);
      //     }
      //   }
      // } catch (err) {
      //   console.log(err);
      // }
      // console.log("not published haha");
    }
  }
};
</script>
